h1{
    font-size: 30px;
    color: #D98027;
    font-weight: 200;
}
h2{
    font-size: 40px;
    color: #D98027;
    font-weight: 200;
}
p{
    font-size: 30px;
    color: #F59456;
    font-weight: 300;
    letter-spacing: 1mm;
}
h3{
    font-size: 25px;
    color: #D98027;
    font-weight: 200;
}